<div class="container">
  <h1>Register</h1>
  <form (ngSubmit)="register(myForm)" #myForm="ngForm">

    <div class="form-group">
      <label for="username">Username</label>
      <br>
      <input type="text" class="form-control" id="username" required [(ngModel)]="uLogin.username" name="username" #username="ngModel">
      <br>
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <br>
      <input type="password" class="form-control" id="password" required [(ngModel)]="uLogin.password" name="password" #password="ngModel">
      <br>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div>
      <br>
    </div>
    <img [src]="imageUrl" style="width: 250px;height: 200px">
    <br>
    <br>

    <label class="btn btn-default">
      <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
    </label>&nbsp;&nbsp;
    <!-- <button class="btn btn-success" [disabled]="!fileToUpload" (click)="upload()">Upload</button> -->
    <br>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Register</button>
    <span>&nbsp;&nbsp;
      <button type="button" (click)="goBack()">back</button>
    </span>
  </form>
</div>